
body {
    background-color: #BBD2FF;
}

.logo {
    font-size: 30px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.bold {
    font-weight: 700;
}

.slogan {
    text-align: center;
    margin-bottom: 25px;
}

.question-container {
    display: none;
}

.question div {
    text-align: center;
    margin-bottom: 20px;
}

.answers {
    text-align: center;
}

.skittles {
    text-align: center;
    margin-top: 10px;
}

.view-on-se {
    margin-right: 10px;
}

.btn-answer {
    border-radius: 15;
    line-height: 75px;
    min-height: 75px;
    min-width: 200px;
    margin-bottom: 10px;
}

div.next-question {
    text-align: center;
}

.btn-time {
    min-width: 100px;
    margin-bottom: 10px;
}

.settings:focus {
    outline: none;
}
